# --- Data ---
# Abaikan semua file CSV dan Excel di folder 'data/raw'
data/raw/*.csv
data/raw/*.xlsx
data/raw/*.xls

# --- Jupyter ---
.ipynb_checkpoints/

# --- Python ---
__pycache__/
*.pyc

# --- Virtual environment ---
venv/

*.csv
